---
import SilentRenew from './components/SilentRenew';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Silent Renew</title>
  </head>
  <body>
    <SilentRenew client:only="react" />
  </body>
</html>

