---
import Layout from "../layouts/Layout.astro";
import Landing from "./landing/components/Landing";
---

<Layout title="Sonacove Meets - Fast, Simple, Secure Online Meetings">
  <main>
    <Landing client:load />
  </main>
</Layout>
