---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import FeatureSection from "../components/FeatureSection.astro";
import AdvancedFeaturesSection from "../components/AdvancedFeaturesSection.astro";
import PricingSection from "../components/PricingSection.astro";
import FAQSection from "../components/FAQSection.astro";
import WaitlistCTA from "../components/WaitlistCTA.astro";
---

<Layout title="Sonacove Meets - Fast, Simple, Secure Online Meetings">
  <main>
    <HeroSection />

    <div id="features">
      <FeatureSection />
    </div>

    <AdvancedFeaturesSection />

    <div id="pricing">
      <PricingSection />
    </div>

    <FAQSection />

    <WaitlistCTA />
  </main>
</Layout>
