---
import { Image } from "astro:assets";

import bgImage from "../assets/CTA-background.png";
import ctaDesktopIcons from "../assets/CTA-desktop-icons.png"; 
import ctaMobileIcons from "../assets/CTA-mobile-icons.png"; 
---

<section
  class="relative flex items-center justify-center min-h-screen bg-white bg-repeat py-20"
>
<div class="absolute inset-0 flex items-center justify-center pointer-events-none">
  <div class="relative w-full h-full"> <!-- give it height -->
    <Image
      src={bgImage}
      alt="Decorative background grid"
      class="absolute inset-0 w-full h-full object-contain"
    />
    <Image
      src={ctaDesktopIcons}
      alt="Decorative illustration of user avatars floating on the screen"
      class="absolute inset-0 w-full h-full object-contain hidden md:block"
    />
    <Image
      src={ctaMobileIcons}
      alt="Decorative illustration of user avatars floating on the screen"
      class="absolute inset-0 w-full h-full object-contain block md:hidden"
    />
  </div>
</div>

  <!-- Foreground layer for the main content -->
  <div class="relative flex flex-col items-center text-center px-4">
    
    <!-- Central Blurred Logo -->
    <div class="w-24 h-24 mb-8 rounded-full flex items-center justify-center backdrop-blur-sm shadow-lg">
      <svg width="92" height="93" viewBox="0 0 92 93" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_i_263_6852)">
        <g clip-path="url(#clip0_263_6852)">
        <rect y="0.253906" width="92" height="92" rx="46" fill="white"/>
        <g style="mix-blend-mode:darken" filter="url(#filter1_f_263_6852)">
        <path d="M27.4976 26.3872L92.6976 6.70328L63.1705 66.9813L19.0643 98.9643L27.4976 26.3872Z" fill="#F05023"/>
        </g>
        <g style="mix-blend-mode:darken" filter="url(#filter2_f_263_6852)">
        <path d="M66.885 21.617L94.5192 91.293L25.6763 64.5032L-13.4892 19.1006L66.885 21.617Z" fill="#F05023"/>
        </g>
        <g filter="url(#filter3_ddddii_263_6852)">
        <path d="M22.7227 46.2537C22.7227 33.3981 33.1442 22.9766 45.9998 22.9766C58.8554 22.9766 69.2769 33.3981 69.2769 46.2537C69.2769 59.1093 58.8554 69.5308 45.9998 69.5308C33.1442 69.5308 22.7227 59.1093 22.7227 46.2537Z" fill="#F7F7F7"/>
        <g clip-path="url(#clip1_263_6852)">
        <path d="M47.8598 33.4285C48.3288 34.2566 48.3288 34.2566 48.7051 35.3515L49.1401 36.5492C49.3593 37.177 49.5756 37.8062 49.7904 38.4359C50.8631 41.5373 51.8737 43.4115 54.7145 45.1154C55.7833 45.7948 56.4505 46.259 56.9137 47.4625C57.1304 48.4541 57.2774 49.4313 57.3971 50.4384L57.5489 51.4816C57.6702 52.3261 57.7807 53.1706 57.8821 54.0174L60.5493 54.9825H59.8218H30.7255L29.998 54.9824L32.6652 54.3393L32.784 53.0673C33.0735 50.0374 33.3839 47.0369 33.9586 44.0446L34.7732 43.9466C35.8745 43.757 36.8163 43.535 37.8381 43.0795C38.4976 42.0956 38.613 41.0171 38.8079 39.8628C39.111 38.1812 39.4563 36.7851 40.4243 35.3587C42.3398 34.039 45.5583 32.5382 47.8598 33.4285ZM41.0707 36.0024C39.8181 38.0446 39.3215 40.4453 38.8079 42.7581L42.6875 41.793C42.364 42.4363 42.364 42.4363 41.6545 42.6804L40.7283 42.9125L39.724 43.1833C39.0218 43.3681 38.3177 43.5476 37.6126 43.7213C36.665 43.9819 35.8052 44.2453 34.9284 44.6883C34.3174 45.7079 34.3174 45.7079 34.2815 46.9399C34.2141 47.3896 34.1457 47.8394 34.0769 48.2886C34.0221 48.7567 33.9692 49.2257 33.9178 49.6948L33.8334 50.4051C33.6812 51.7417 33.6351 52.9785 33.6351 54.3393H41.0707L41.3738 52.067C41.6735 50.2762 42.0425 49.2277 43.556 48.0859C44.0106 47.7945 44.4756 47.5196 44.9502 47.2617L45.5248 47.5493C46.1446 47.8562 46.7697 48.153 47.3953 48.4479C48.6789 49.3415 48.8734 50.5706 49.1328 52.0269L49.4766 54.3393H56.9122L56.5281 51.0618L56.4195 50.0374L56.3123 49.2185L56.2149 48.3861C55.6266 46.6537 54.0094 45.7383 52.5715 44.7197C50.4179 42.9844 49.6464 40.9423 48.7696 38.3949C48.6154 37.9737 48.4602 37.5529 48.304 37.1326C47.9306 36.1154 47.5674 35.0962 47.2134 34.0723C45.0811 34.0723 42.7229 34.5982 41.0707 36.0024ZM43.6573 48.9304L42.9498 49.5075C41.6802 50.9151 42.0406 52.4752 42.0406 54.3393H48.5067C48.6464 51.6665 48.6464 51.6665 47.5252 49.3782C45.5772 47.7839 45.5772 47.7839 43.6573 48.9304Z" fill="#F05023"/>
        <path d="M43.8857 33.2189C45.1655 32.8068 46.543 32.6243 47.7515 33.0058L47.9909 33.0896L48.1124 33.1365L48.1763 33.2495C48.4079 33.6584 48.5355 33.8832 48.6501 34.1438C48.7629 34.4004 48.8625 34.6905 49.0472 35.2278L49.482 36.4255L49.4834 36.4298C49.7028 37.0582 49.9192 37.6881 50.1341 38.3179L50.3337 38.8805C50.7981 40.1587 51.265 41.194 51.8887 42.0928C52.5526 43.0497 53.4044 43.8662 54.6477 44.6479L54.902 44.8042L54.9098 44.8092C55.4409 45.1468 55.9063 45.4516 56.2957 45.8335C56.644 46.175 56.9251 46.5711 57.1567 47.098L57.2533 47.3324L57.2632 47.358L57.2689 47.3857C57.4888 48.3918 57.6371 49.3806 57.7577 50.394L57.909 51.4297C58.0199 52.2028 58.1209 52.9766 58.2151 53.7512L60.673 54.6413C60.8391 54.7014 60.9379 54.8722 60.9074 55.0462C60.8767 55.22 60.7259 55.3467 60.5494 55.3467H29.9982C29.8139 55.3466 29.659 55.2086 29.6373 55.0256C29.6157 54.8427 29.7339 54.6724 29.9129 54.6292L32.3267 54.0467L32.4219 53.0337C32.7114 50.0039 33.0236 46.9875 33.6018 43.9766L33.6516 43.7159L34.7214 43.5866C35.7685 43.406 36.6493 43.1971 37.5919 42.7889C38.1475 41.9093 38.2553 40.9514 38.4493 39.8026L38.45 39.799C38.7554 38.1047 39.1117 36.6467 40.1237 35.1554L40.162 35.0985L40.2181 35.0595C41.1974 34.3848 42.5126 33.6611 43.8857 33.2189ZM47.6094 33.7261C46.5935 33.3781 45.3579 33.5093 44.1088 33.9115C42.8442 34.3188 41.6167 34.9869 40.687 35.6207C39.9277 36.7592 39.5758 37.8821 39.3053 39.2016C39.6584 38.0254 40.1104 36.8729 40.7608 35.8125L40.7914 35.7634L40.8354 35.7258C42.5786 34.2443 45.0354 33.7091 47.2138 33.7091H47.4723L47.5576 33.9542C47.9107 34.9754 48.2727 35.992 48.6451 37.0066L49.1111 38.2703L49.114 38.2774C49.9896 40.8213 50.7336 42.7699 52.7944 44.4327C53.4889 44.924 54.2792 45.4267 54.951 46.0118C55.6368 46.6092 56.2374 47.3216 56.5593 48.2693L56.5721 48.3063L56.5763 48.3446L56.6729 49.1715L56.7802 49.9905L56.7816 49.9998L56.8889 51.0199L57.3116 54.6193H58.4751L57.7584 54.36L57.5474 54.284L57.5211 54.0609C57.4201 53.2171 57.3101 52.3759 57.1894 51.5349L57.0374 50.4914L57.0359 50.4821C56.9182 49.4925 56.7748 48.5371 56.565 47.5711C56.3526 47.027 56.1006 46.6609 55.7864 46.3528C55.4593 46.032 55.0568 45.7647 54.5191 45.4229C53.0659 44.55 52.0644 43.623 51.2905 42.5076C50.5196 41.3964 49.9856 40.1139 49.4464 38.5552V38.5537C49.2323 37.9261 49.0168 37.2993 48.7986 36.6741L48.3631 35.4765L48.361 35.4701C48.1707 34.9165 48.0826 34.6596 47.9845 34.4365C47.8974 34.2383 47.8011 34.0651 47.6094 33.7261ZM48.9272 53.1176C48.9168 53.4687 48.8957 53.8732 48.8703 54.3586L48.8561 54.6193H49.1502L48.9272 53.1176ZM41.4314 54.3877L41.4009 54.6193H41.6772V54.3401C41.6772 53.8819 41.6552 53.4469 41.641 53.0082C41.6393 52.9551 41.6381 52.902 41.6367 52.849L41.4314 54.3877ZM33.9435 46.2761C33.5961 48.5354 33.3659 50.8063 33.1465 53.1026L33.0271 54.3735L33.0044 54.6193H33.2715V54.3401C33.2715 52.9705 33.3182 51.7187 33.4725 50.3642V50.3628L33.5571 49.6524C33.6084 49.1837 33.6607 48.7146 33.7155 48.2466L33.7162 48.2402L33.7176 48.2338C33.7852 47.7927 33.8518 47.3511 33.9179 46.9097C33.9251 46.6632 33.9322 46.457 33.9435 46.2761ZM46.9573 34.44C44.9643 34.4806 42.847 34.9971 41.3519 36.2422C40.2578 38.0487 39.7609 40.1461 39.2904 42.264L43.3686 41.2496L43.0127 41.9571C42.8651 42.2506 42.7503 42.4929 42.5531 42.6625C42.3583 42.8298 42.0978 42.913 41.7731 43.0247L41.7582 43.0297L41.7433 43.034L40.8227 43.2634L40.8234 43.2641L39.8189 43.5348L39.8168 43.5355C39.1157 43.72 38.4124 43.8983 37.7084 44.0718C36.7999 44.3217 35.9961 44.5702 35.1845 44.969C34.9106 45.4272 34.7999 45.6242 34.7391 45.8356C34.6739 46.0626 34.6638 46.3161 34.6454 46.9509L34.6446 46.9729L34.6411 46.9942C34.5736 47.4444 34.5054 47.8945 34.4365 48.3439C34.3824 48.8068 34.3304 49.2707 34.2795 49.7348L34.2788 49.7384L34.195 50.4487C34.0585 51.6476 34.0104 52.7668 34.0025 53.9764H40.7523L41.013 52.0193L41.0144 52.0137L41.0152 52.0073C41.1662 51.1046 41.3407 50.349 41.6857 49.6688C42.0349 48.9807 42.5465 48.3928 43.3373 47.7962L43.348 47.7877L43.3601 47.7806C43.822 47.4845 44.2942 47.2044 44.7765 46.9424L44.9435 46.8522L45.1132 46.9367L45.6865 47.2237L46.6149 47.6755L47.5505 48.1195L47.5782 48.1322L47.603 48.15C48.8499 49.0181 49.165 50.1895 49.3953 51.429L49.4912 51.9639L49.4926 51.9739L49.7902 53.9764H56.5032L56.1672 51.1044L56.1664 51.1008L56.0578 50.0765L55.9519 49.266L55.9512 49.261L55.8582 48.4697C55.589 47.7017 55.093 47.1002 54.4729 46.5602C53.8337 46.0034 53.1013 45.5418 52.361 45.0173L52.3525 45.0102L52.3433 45.0031C50.1012 43.1965 49.3028 41.0624 48.4256 38.514C48.2725 38.0956 48.1183 37.6768 47.9632 37.2595L47.9625 37.2587C47.6186 36.3218 47.2848 35.3825 46.9573 34.44ZM45.5387 48.4881C45.3893 48.4709 45.2188 48.5019 44.9484 48.6245C44.675 48.7486 44.3406 48.9461 43.8644 49.2305L43.2045 49.7696C42.6477 50.395 42.445 51.0496 42.3819 51.7842C42.3496 52.161 42.3538 52.5569 42.3677 52.9847C42.3778 53.2978 42.3932 53.6315 42.4004 53.9764H48.1607C48.2178 52.8566 48.2342 52.3006 48.1323 51.7856C48.0232 51.2346 47.7777 50.7213 47.2337 49.6105C46.7732 49.2337 46.4398 48.9626 46.1646 48.7758C45.8788 48.5819 45.6942 48.5061 45.5387 48.4881ZM48.0982 49.7249C48.1787 49.8906 48.2531 50.0441 48.3205 50.1887C48.2569 50.0268 48.1834 49.8726 48.0982 49.7249ZM44.9584 47.6726C44.5521 47.8979 44.1532 48.1361 43.7621 48.3866C43.6609 48.4632 43.5659 48.5398 43.4759 48.6153C43.9461 48.3345 44.325 48.108 44.6472 47.9618C44.8286 47.8794 45.0047 47.8176 45.1814 47.7842L44.9584 47.6726ZM34.835 44.3055L34.8165 44.3084L34.2667 44.3744C34.1913 44.7781 34.1217 45.1821 34.055 45.5863C34.1554 45.2677 34.3345 44.9717 34.6162 44.5016L34.6709 44.4114L34.7647 44.3645C34.8155 44.3388 34.8668 44.3151 34.9174 44.2906C34.89 44.2954 34.8626 44.3008 34.835 44.3055ZM38.4302 42.779C38.3592 42.9212 38.2804 43.0619 38.1915 43.2009C38.2428 43.188 38.2943 43.1755 38.3456 43.1626L38.4302 42.779Z" fill="#F05023"/>
        </g>
        </g>
        </g>
        <rect x="0.831325" y="1.08523" width="90.3373" height="90.3373" rx="45.1687" stroke="white" stroke-opacity="0.17" stroke-width="1.66265"/>
        </g>
        <defs>
        <filter id="filter0_i_263_6852" x="0" y="0.253906" width="92" height="95.8333" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="3.83333"/>
        <feGaussianBlur stdDeviation="3.83333"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"/>
        <feBlend mode="multiply" in2="shape" result="effect1_innerShadow_263_6852"/>
        </filter>
        <filter id="filter1_f_263_6852" x="-3.93555" y="-16.2969" width="119.633" height="138.261" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="11.5" result="effect1_foregroundBlur_263_6852"/>
        </filter>
        <filter id="filter2_f_263_6852" x="-36.4883" y="-3.89941" width="154.008" height="118.192" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="11.5" result="effect1_foregroundBlur_263_6852"/>
        </filter>
        <filter id="filter3_ddddii_263_6852" x="1.72266" y="17.7266" width="88.5547" height="127.93" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="2.625"/>
        <feGaussianBlur stdDeviation="3.9375"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.714007 0 0 0 0 0.179202 0 0 0 0 0 0 0 0 0.18 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_263_6852"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="13.125"/>
        <feGaussianBlur stdDeviation="6.5625"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.625616 0 0 0 0 0.158894 0 0 0 0 0 0 0 0 0.15 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_263_6852" result="effect2_dropShadow_263_6852"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="31.5"/>
        <feGaussianBlur stdDeviation="9.1875"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.580325 0 0 0 0 0.14565 0 0 0 0 0 0 0 0 0.09 0"/>
        <feBlend mode="normal" in2="effect2_dropShadow_263_6852" result="effect3_dropShadow_263_6852"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="55.125"/>
        <feGaussianBlur stdDeviation="10.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.610889 0 0 0 0 0.152722 0 0 0 0 0 0 0 0 0.03 0"/>
        <feBlend mode="normal" in2="effect3_dropShadow_263_6852" result="effect4_dropShadow_263_6852"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect4_dropShadow_263_6852" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="-2.625"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.25098 0 0 0 0 0 0 0 0 0.1 0"/>
        <feBlend mode="normal" in2="shape" result="effect5_innerShadow_263_6852"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="2.625"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
        <feBlend mode="normal" in2="effect5_innerShadow_263_6852" result="effect6_innerShadow_263_6852"/>
        </filter>
        <clipPath id="clip0_263_6852">
        <rect y="0.253906" width="92" height="92" rx="46" fill="white"/>
        </clipPath>
        <clipPath id="clip1_263_6852">
        <rect width="39.2801" height="39.2801" fill="white" transform="translate(26.3594 25.8867)"/>
        </clipPath>
        </defs>
      </svg>
    </div>

    <!-- Headline -->
    <h2 class="text-4xl md:text-6xl font-bold text-gray-900 leading-tight mb-6">
      Ready to transform <br class="hidden sm:block" /> your teaching?
    </h2>

    <!-- Sub-headline -->
    <p class="text-lg text-gray-600 mb-10 max-w-xl mx-auto">
      Join the educators who are redefining virtual learning. 
      <strong class="text-gray-800 font-semibold">'Sign up now'</strong> it's free, fast, and fuss-free.
    </p>

    <!-- CTA Buttons (Updated for mobile) -->
    <div class="flex flex-col sm:flex-row items-center justify-center gap-4 w-full max-w-xs sm:max-w-none">
      <a
        href="/onboarding"
        class="w-full sm:w-auto text-center px-8 py-4 bg-orange-600 text-white font-semibold rounded-full hover:bg-orange-500 transition-transform hover:scale-105 will-change-transform"
      >
        Start Teaching for Free
      </a>
      <a
        href="/onboarding"
        class="w-full sm:w-auto text-center px-8 py-4 bg-gray-100 text-black font-semibold rounded-full hover:bg-gray-200 transition-transform hover:scale-105 border border-gray-200 will-change-transform"
      >
        Sign up Now
      </a>
    </div>
  </div>
</section>
