---

---

<section class="py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-12">Why Choose Sonacove Meets?</h2>
    
    <div class="grid  md:grid-cols-2 grid-rows-3 gap-12 pr-20 pl-20">
        <img src="https://res.cloudinary.com/drm2onwdx/image/upload/v1744203018/Fast-And-Simple_mtyeda.png" alt="Fast and Simple Illustration" class="rounded-xl w-96">
        <div class="flex flex-col align-center justify-center w-fit py-12 pr-10  rounded-xl border border-gray-100 transition-transform  duration-300 ease-in-out text-center will-change-transform">
          <h3 class="text-2xl tracking-wide font-semibold text-gray-800 mb-2 will-change-transform" >Fast & Simple</h3>
          <pre class="font-sans text-gray-600 will-change-transform tracking-wide">Launch meetings in seconds—no installs, no tech skills needed.
            Just click and connect from any device, anywhere.</pre>
        </div>

          <div class="flex flex-col align-center justify-center w-fit py-12 pl-10  rounded-xl border border-gray-100 transition-transform  duration-300 ease-in-out text-center will-change-transform">
            <h3 class="text-2xl tracking-wide font-semibold text-gray-800 mb-2 will-change-transform" >Privacy Focused</h3>
            <pre class="font-sans text-gray-600 will-change-transform tracking-wide">Your data, your rules. All meetings are 100%
private—  no recordings, no data mining, ever</pre>
          </div>
          <img src="https://res.cloudinary.com/drm2onwdx/image/upload/v1744204182/Privacy-Focused_uz9jyy.png" alt="Privacy Focused Illustration" class="rounded-xl w-96">

          <img src="https://res.cloudinary.com/drm2onwdx/image/upload/v1744204670/Secure-Connections_rmqicp.png" alt="Privacy Focused Illustration" class="rounded-xl w-96">
          <div class="flex flex-col align-center justify-center w-fit py-12 pr-10 rounded-xl border border-gray-100 transition-transform  duration-300 ease-in-out text-center will-change-transform">
            <h3 class="text-2xl tracking-wide font-semibold text-gray-800 mb-2 will-change-transform" >Secure Connections</h3>
            <pre class="font-sans text-gray-600 will-change-transform tracking-wide">Your chats are protected by top-tier encryption, 
       ensuring privacy from outsiders and even ourselves.</pre>
          </div>
    </div>
  </div>
</section>