---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Unsupported Browser">
  <div class="flex flex-col w-full items-center justify-center px-4 py-16">
    <div class="bg-white/80 rounded-xl p-10 max-w-2xl w-full text-center">
      
      <h1 class="text-2xl w-full font-semibold text-gray-800 mb-4 md:whitespace-nowrap">
        It looks like you're using a browser we don't fully support.
      </h1>

      <p class="text-gray-600 leading-relaxed md:whitespace-nowrap">
        We recommend trying Sonacove with the latest version of
        <a
          class="font-medium hover:underline text-primary-700 hover:text-accent-600 transition"
          href="https://www.google.com/chrome/"
        >
          Chrome
        </a>
        or
        <a
          class="font-medium hover:underline text-primary-700 hover:text-accent-600 transition"
          href="https://www.chromium.org/"
        >
          Chromium
        </a>.
      </p>
      
    </div>
  </div>
</Layout>